"{{listTitle}}" by {{listAuthor}}

<ul>
  {{#each listRecords}}
  <form action="/expand-list-records-save/{{this.id}}" method="POST">

    <li>{{this.recordTitle}} by {{this.artistName}} ({{this.releaseYear}})
      <br>
      <label>Paste embed code here:</label>
      <textarea name="embeddedmedia" cols="30" rows="10">{{embeddedMedia}}</textarea>
      <br>
      <input type="submit" value="Submit embed code">
    </li>
    </form>
  {{/each}}
</ul>
