<div>
"{{listTitle}}" by {{listAuthor}}
  <ul>
    {{#each listRecords}}
      <li>{{recordTitle}} by {{artistName}} ({{releaseYear}})
        <br>
        {{{embeddedMedia}}}
      </li>
    {{/each}}
  </ul>

  <p>
    <a href="/expand-list-records/{{listId}}">Expand list's contents</a>
  </p>
</div>