<div>
<h2>"{{listTitle}}" by {{listAuthor}}</h2>

<ul class="list-unstyled">
    {{#each listRecords}}
    <li class="media">
      <div class="record-box">
        {{#if discogsId}}
          {{{getDiscogsUrls this}}}
          {{!-- <h2><a href="/discogs-page/{{discogsId}}">{{recordTitle}} by {{artistName}} ({{releaseYear}})</a></h2> --}}
        {{else}}
          <h2>{{recordTitle}} by {{artistName}} ({{releaseYear}})</h2>
        {{/if}}
        <div class="embedded-media">
        {{{embeddedMedia}}}
        </div>

      </div>
    </li>
    {{/each}}
</ul>


  <p>
    <a href="/expand-list-records/{{listId}}">Expand list's contents</a>
  </p>
</div>
<script>

</script>